@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Light mode colors from jnsahaj/tweakcn's Neo Brutalism */
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 100% 50%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 20%;
    --accent: 216 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 0% 0%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 100% 60%;
    --chart-1: 0 100% 60%;
    --chart-2: 60 100% 50%;
    --chart-3: 216 100% 50%;
    --chart-4: 120 100% 40%;
    --chart-5: 300 100% 40%;
    --radius: 0px;
    --sidebar: 0 0% 94%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 0 100% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 216 100% 50%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 0%;
    --sidebar-ring: 0 100% 60%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    /* --background: 0 0% 9.41%; */
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --success: 142 69% 58%;
    --success-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  input,
  select,
  textarea {
    @apply text-base sm:text-sm !important;
  }
}

.lucide {
  @apply h-4 w-auto;
  stroke-width: 2.25px;
}

.text-link {
  @apply border-b-2 border-transparent transition-all duration-200 ease-in-out hover:border-current;
}
